body {
    background-color: #3cb8ba;
}
.Header{
    text-align: right;
    button{
        background-color: #3cba7d;
        border: 2px solid #3c79ba;
        border-radius: 20px;
        font-size: large;
        font-weight: bold;
        padding: 10px;
    }
}
button {
    cursor: pointer;
}
.UserInfo{
    table{
        margin: auto;
        padding: 20px;
    }
    img{
        max-width: 300px;
        border: 2px solid black;
        border-radius: 10px;
        padding: 2px;
        margin-right: 50px;
    }
    p{
        font-size: large;
        font-weight: bold;
    }
    button{
        margin-left: 200px;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 5px;
        width: 125px;
        background-color: #3cba7d;
        border: 2px solid #3c79ba;
        border-radius: 5px;
        font-size: large;
        font-weight: bold;
    }
}
hr{
    margin: 20px;
    color: black;
    border-color: black;
    background-color: black;
}
.trip{
    border: 2px solid black;
    background-color: #49c5c7;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.7);
    border-radius: 35px;
    margin: auto;
    width: 80%;
    margin-bottom: 200px;
    .cityImg{
        padding: 20px;
        max-height: 500px;
        border-radius: 30px;
    }
    .comment{
        height: 50px;
        position: relative;
        margin: -90px 0 0 25.3%;
        opacity: 0.7;
        cursor: pointer;
    }
    ol {
        margin: 1% 0 1% 0;
    }
    .comment:hover{
        height: 60px;
        transition: height 0.5s;
        transition-timing-function: ease-in-out;
    }
    button{
        margin-left: 200px;
        margin-top: 5px;
        margin-bottom: 5px;
        padding: 5px;
        width: 125px;
        background-color: #3cba7d;
        border: 2px solid #3c79ba;
        border-radius: 5px;
        font-size: large;
        font-weight: bold;
    }
    .commentSection{
        table{
            margin: 20px 20px 20px 20px;
            .commentUsername{
                padding-left: 5px;
                width: 300px;
            }
            .userComment{
                border: 2px solid #3c79ba;
                border-radius: 30px;
                padding-left: 10px;
                width: 1150px;
            }
            .commentInput{
                border: 2px solid #3c79ba;
                background-color: #49c5c7;
                border-radius: 30px;
                padding-left: 10px;
                width: 1150px;
                height: 55px;
            }
            .labelForComment{
                text-align: center;
                cursor: pointer;
            }
            .labelForComment:hover {
                background-color: #3c79ba;
                transition: background-color 0.5s;
                transition-timing-function: ease-in-out;
                border-radius: 10px;
            }
        }
    }
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);

    .modal-content {
        background-color: #3cb8ba;
        margin: auto;
        padding: 20px;
        width: 60%;
        border-radius: 15px;
        .close {
            color: #000;
            float: right;
            font-size: 40px;
            font-weight: bold;
        }
        .close:hover,
        .close:focus {
            color: #aaaaaa;
            text-decoration: none;
            cursor: pointer;
        }
        .input {
            background-color: #3cba7d;
            border-radius: 10px;
            border: 1px solid black;
            margin: 10px;
            padding: 10px;
        }
        select {
            padding: 10px;
            margin: 10px;
            width: 90%;
            background-color: #3cba7d;
            border: 1px solid black;
            border-radius: 10px;
        }
        #submit {
            font-size: large;
            font-weight: bold;
            margin-top: 15px;
            padding: 10px;
            width: 100%;
            background-color: #3cba7d;
            border: 1px solid black;
            border-radius: 10px;
        }
        form, table {
            margin: auto;
        }
    }
}
