body {
    background-color: #3cb8ba;
}
.Header{
    text-align: right;
    button{
        background-color: #3cba7d;
        border: 2px solid #3c79ba;
        border-radius: 20px;
        font-size: large;
        font-weight: bold;
        padding: 10px;
    }
}
.UserInfo{
    table{
        margin: auto;
        padding: 20px;
    }
    img{
        max-width: 300px;
        border: 2px solid black;
        border-radius: 10px;
        padding: 2px;
        margin-right: 50px;
    }
    p{
        font-size: large;
        font-weight: bold;
    }
    button{
        margin-left: 200px;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 5px;
        width: 125px;
        background-color: #3cba7d;
        border: 2px solid #3c79ba;
        border-radius: 5px;
        font-size: large;
        font-weight: bold;
    }
}
hr{
    margin: 20px;
    color: black;
    border-color: black;
    background-color: black;
}
.Trip{

    table{
        border: 2px solid black;
        border-radius: 50px;
        padding: 20px;
        margin: auto;
        h1, h3{
            text-align: center;
        }
    }
    img{
        padding: 20px;
        max-height: 500px;
    }
    button{
        margin-left: 200px;
        margin-top: 5px;
        margin-bottom: 5px;
        padding: 5px;
        width: 125px;
        background-color: #3cba7d;
        border: 2px solid #3c79ba;
        border-radius: 5px;
        font-size: large;
        font-weight: bold;
    }
}
