body {
    background-color: #3cb8ba;
    text-align: center;
    font-size: larger;
}
button {
    background-color: #3cba7d;
    border: 2px solid #3c79ba;
    border-radius: 20px 10px;
    margin: 1em;
    font-size: large;
    font-weight: bold;
    padding: 20px;
}
img {
    position: fixed;
    margin-top: 74px;
    margin-left: -100px;
    max-height: 500px;
    transform: scaleX(-1);
}
table {
    font-size: 40px;
    min-height: 500px;
    width: 80%;
    margin: auto;
    .quizQuestion {
        display: none;
    }
}
.Footer {
    padding-top: 220px;
}
